<div class="protofolio_section pdy Featured-Work">
    <div class="container">      
        <div class="section_header">
        <h2 class="section-title">Our portfolio</h2>
        <span class="section-line"></span>
        </div>
        <ul class="list-unstyled row">
            <li data-class="all"       class="col-md active">All</li>
            <li data-class=".app"  class="col-md">App</li>
            <li data-class=".carding"    class="col-md">CARD</li>
            <li data-class=".web"  class="col-md">WEB</li>
        </ul>
    </div>
  
 <div class="container">
    <div class="proto-content shuffle-imgs ">
        
    <div class="row">
        <div class="proto-item col-lg-4 col-md-6 col-6 col-md">
              <img class="app card" src="assets/Images/portfolio/app1.jpg" alt=""/>
              <div class="layer-content ">
                 <div class="layer-info">
                      <span class="category">category1</span>
                      <h3 class="layer-content-title">category1</h3>
                      <a src="#"><i class="fa fa-edit fa-x icon"></i></a>
                       <a src="#"><i class="fa fa-search fa-x icon"></i></a>
                  </div>
             </div>
        </div>
        <div class="proto-item col-lg-4 col-md-6 col-6 col-md">
            <img class="web card" src="assets/Images/portfolio/web3.jpg" alt=""/>
            <div class="layer-content ">
               <div class="layer-info">
                    <span class="category">category1</span>
                    <h3 class="layer-content-title">category1</h3>
                    <a src="#"><i class="fa fa-edit fa-x icon"></i></a>
                     <a src="#"><i class="fa fa-search fa-x icon"></i></a>
                </div>
           </div>
      </div>
      <div class="proto-item col-lg-4 col-md-6 col-6 col-md">
        <img class="app card" src="assets/Images/portfolio/app2.jpg" alt=""/>
        <div class="layer-content ">
           <div class="layer-info">
                <span class="category">category1</span>
                <h3 class="layer-content-title">category1</h3>
                <a src="#"><i class="fa fa-edit fa-x icon"></i></a>
                 <a src="#"><i class="fa fa-search fa-x icon"></i></a>
            </div>
       </div>
       </div>
        <div class="proto-item col-lg-4 col-md-6 col-6  col-md">
            <img class="web card" src="assets/Images/portfolio/web2.jpg" alt=""/>
            <div class="layer-content ">
                 <div class="layer-info">
                      <span class="category">category1</span>
                      <h3 class="layer-content-title">category1</h3>
                      <a src="#"><i class="fa fa-edit fa-x icon"></i></a>
                       <a src="#"><i class="fa fa-search fa-x icon"></i></a>
                  </div>
             </div>
        </div>
        <div class="proto-item col-lg-4 col-md-6 col-6 col-md">
            <img class="card" src="assets/Images/portfolio/card2.jpg" alt=""/>
            <div class="layer-content ">
               <div class="layer-info">
                    <span class="category">category1</span>
                    <h3 class="layer-content-title">category1</h3>
                    <a src="#"><i class="fa fa-edit fa-x icon"></i></a>
                     <a src="#"><i class="fa fa-search fa-x icon"></i></a>
                </div>
           </div>
        </div>
        <div class="proto-item col-lg-4 col-md-6 col-6 col-md">
        <img class="app card" src="assets/Images/portfolio/app3.jpg" alt=""/>
        <div class="layer-content ">
           <div class="layer-info">
                <span class="category">category1</span>
                <h3 class="layer-content-title">category1</h3>
                <a src="#"><i class="fa fa-edit fa-x icon"></i></a>
                 <a src="#"><i class="fa fa-search fa-x icon"></i></a>
            </div>
       </div>
        </div>
        <div class="proto-item col-lg-4 col-md-6 col-6 col-md">
            <img class="web card" src="assets/Images/portfolio/web1.jpg" alt=""/>
            <div class="layer-content ">
                 <div class="layer-info">
                      <span class="category">category1</span>
                      <h3 class="layer-content-title">category1</h3>
                      <a src="#"><i class="fa fa-edit fa-x icon"></i></a>
                       <a src="#"><i class="fa fa-search fa-x icon"></i></a>
                  </div>
             </div>
        </div>
        <div class="proto-item  col-lg-4 col-md-6 col-6 col-md">
            <img class="carding card" src="assets/Images/portfolio/card3.jpg" alt=""/>
            <div class="layer-content ">
               <div class="layer-info">
                    <span class="category">category1</span>
                    <h3 class="layer-content-title">category1</h3>
                    <a src="#"><i class="fa fa-edit fa-x icon"></i></a>
                     <a src="#"><i class="fa fa-search fa-x icon"></i></a>
                </div>
           </div>
        </div>
        <div class="proto-item col-lg-4 col-md-6 col-6 col-md">
        <img class="carding card" src="assets/Images/portfolio/card1.jpg" alt=""/>
        <div class="layer-content ">
           <div class="layer-info">
                <span class="category">category1</span>
                <h3 class="layer-content-title">category1</h3>
                <a src="#"><i class="fa fa-edit fa-x icon"></i></a>
                 <a src="#"><i class="fa fa-search fa-x icon"></i></a>
            </div>
       </div>
        </div>
    </div>
        <div class="clearfix"></div>
   </div>
     
</div>
</div>