<div class="pdy client">
    <div class="container">      
        <div class="section_header">
        <h2 class="section-title">Our Clients</h2>
        <span class="section-line"></span>
        <p style="color: #1a1a25a6;width: 80%;margin: auto;margin-bottom:20px;"> nowahmed mazherar is very tired nowahmed mazheraris very tired nowahmed mazherar
            is very very tired now  </p>
        </div>
    </div>
  
 <div class="container">
    <div class="row"> 
        
                <div class="col-lg-3 col-6 client-content" >
                    <img class="" src="assets/Images/clients/client-1.png" alt=""/>     
                </div >

                <div  class="col-lg-3 col-6 client-content">
                    <img class="" src="assets/Images/clients/client-2.png" alt=""/>     
                </div>

                <div  class="col-lg-3 col-6 client-content">
                    <img class="" src="assets/Images/clients/client-3.png" alt=""/>     
                </div>
        
                <div  class="col-lg-3 col-6 client-content">
                <img class="" src="assets/Images/clients/client-4.png" alt=""/>     
                </div> 
        
    
        
                <div  class="col-lg-3 col-6 client-content">
                <img class="" src="assets/Images/clients/client-5.png" alt=""/>     
                </div>

                <div  class="col-lg-3 col-6 client-content">
                    <img class="" src="assets/Images/clients/client-6.png" alt=""/>     
                </div> 
               
                <div  class="col-lg-3 col-6 client-content">
                    <img class="" src="assets/Images/clients/client-7.png" alt=""/>     
                 </div>
    
                <div  class="col-lg-3 col-6 client-content">
                        <img class="" src="assets/Images/clients/client-8.png" alt=""/>     
                 </div> 
        
    </div>
        <div class="clearfix"></div>
   </div>
 </div>