<div class="pdy">          
    <div class="section_header container">
       <h2 class="section-title">About Us</h2>
       <span class="section-line"></span>
       <p class="section-desc">ahmed mazher kame ahmedhmed mazher kamel ahmed mazher kamel ahmed mazher kamel ahmed mazher kamel ahmed mazher</p>
    </div>
 <div class="container">
   <div class=" row">
       <div class=" col-lg-6 col-md-12 give-color">
            <p style="color: #1a1a25a6;"> ahmed mazherar is very tired nowahmed mazherar is very tired nowahmed mazheraris very tired nowahmed mazherar
             is very tired nowahmed mazherar is very tired now  </p>
             <div class="offer-item ltr-effect ">
                 <div class="row">
                     <div class="col-md-1 col-sm-1">
                        <a src="#"><i class="fa fa-diamond fa-2x icon"></i></a>
                    </div>
                    <div class="col-md-11 col-sm-11">
                        <h3 class="title">App Development</h3>
                        <p class="desc-offer">
                            this ahmed mazher kamel saed this ahmed mazher kamel saedthis ahmed mazher kamel saedthis ahmed mazher kamel saed
                            this ahmed mazher kamel saedthis ahmed mazher kamel saedthis ahmed mazher kamel saedthis ahmed mazher kamel saed
                        </p>
                    </div>
                  </div>
               </div>
               <div >
                       <img src="assets/Images/team1.jpg"/>
               </div>
               <div class="offer-item ltr-effect ">
                <div class="row">
                    <div class="col-md-1 col-sm-1">
                        <a src="#"><i class="fa fa-diamond fa-2x icon"></i></a>
                    </div>
                    <div class="col-md-11 col-sm-11">
                        <h3 class="title">App Development</h3>
                        <p class="desc-offer">
                            this ahmed mazher kamel saed this ahmed mazher kamel saedthis ahmed mazher kamel saedthis ahmed mazher kamel saed
                            this ahmed mazher kamel saedthis ahmed mazher kamel saedthis ahmed mazher kamel saedthis ahmed mazher kamel saed
                        </p>
                    </div>
              </div>
           </div>          
        </div><!--End section 1-->
        <div class=" col-lg-6 col-md-12 give-color">
            
              <div>
                      <img src="assets/Images/team1.jpg"/>
             </div>
             <div class="offer-item ltr-effect ">
                <div class="row">
                    <div class="col-md-1 col-sm-1">
                       <a src="#"><i class="fa fa-diamond fa-2x icon"></i></a>
                   </div>
                   <div class="col-md-11 col-sm-11">
                       <h3 class="title">App Development</h3>
                   
               
                       <p class="desc-offer">
                           this ahmed mazher kamel saed this ahmed mazher kamel saedthis ahmed mazher kamel saedthis ahmed mazher kamel saed
                           this ahmed mazher kamel saedthis ahmed mazher kamel saedthis ahmed mazher kamel saedthis ahmed mazher kamel saed
                       </p>
                   </div>
                 </div>
              </div>
               <div >
                       <img src="assets/Images/team1.jpg"/>
               </div>
              
                   
        </div><!--End section 2-->
        
    </div>
   </div>   
 
</div>