  
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="left col-lg-4 col-md-12 ">
            <h1>WELCOME</h1>
              <p > Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id 
              vitae massa. Proin vulputate cong ue rutrum.
               Fusce lobortis a enim eget tempus.</p>
               
          </div>
          <div class="d col-lg-2 col-md-3 col-sm-6">
              <h5>Company</h5>
              <ul>
                <li>About us</li>
                <li>Services</li>
                <li>Clients</li>
                <li>Testimonials</li>
                <li>Carrers</li>
              </ul>
            </div>
            <div class="d col-lg-2 col-md-3 col-sm-6">
                <h5>For Buyers</h5>
                <ul>
                  <li>By with us</li>
                  <li>Papers</li>
                  <li>Clients</li>
                  <li>Testimonials</li>
                  <li>Homes</li>
                </ul>
            </div>
            <div class="d col-lg-2 col-md-3 col-sm-6">
                <h5>About Sellers</h5>
                <ul>
                  <li>Sell with us</li>
                  <li>What do You Need</li>
                  <li>Clients</li>
                  <li>Testimonials</li>
                  <li>Guideline</li>
                </ul>
            </div>
            <div class="d col-lg-2 col-md-3 col-sm-6">
                <h5>For Renters</h5>
                <ul>
                  <li>Rent with us</li>
                  <li>Guidelines</li>
                  <li>Apartments</li>
                  <li>Flats</li>
                  <li>Houses</li>
                </ul>
            </div>
        </div>
        <div class="copy">
          <p>COPYRIGHT ©2019 ALL RIGHTS RESERVED | THIS TEMPLATE IS MADE BY<span>Ahmed Mazhar </span></p>
        </div>
      </div>
    </div>