<div class="service pdy">
    <div class="container">
      <div class="row">
        <div class="  col-lg-6 col-md-12">
           
            <div class="section_header">
              <h2 class="section-title">Why You choose Us</h2>
            </div>
            <p class="service-desc">
                ahmed mazher kamel  ahmed mazher kamel ahmed mazher kamel ahmed mazher kamel ahmed mazher kamel                                                  ahmed mazher kamel ahmed mazher kamel ahmed mazher kamel ahmed mazher kamel ahmed mazher kamel                                                    ahmed mazher kamel
            </p>
            <ul class="service-list">
               <li><i class="fa fa-check fa-fw icon"></i> ahmed mazher kamel ahmed mazher kamel</li>
               <li><i class="fa fa-check fa-fw icon"></i> ahmed mazher kamel ahmed mazher kamel</li>
               <li><i class="fa fa-check fa-fw icon"></i> ahmed mazher kamel ahmed mazher kamel</li>
               <li><i class="fa fa-check fa-fw icon"></i> ahmed mazher kamel ahmed mazher kamel</li>
               <li><i class="fa fa-check fa-fw icon"></i> ahmed mazher kamel ahmed mazher kamel</li>
            </ul>
       </div>
        
      <div class=" col-lg-6 col-md-12 ">
          <div class="service-image">
             <img src="assets/Images/choose/about1.webp"/>
             
          </div>
              
         <ul class="service-bollets">
               <li class="active"></li>
               <li></li>
               <li></li>
          </ul>
      </div>

     </div> 
      <div class="clearfix"></div>
    
</div>

<div class="number_section ">
    <div class="overlay"> 
       <div class="container">
            <div class="number_items ">
                 
                 <div class="num-item">
                   <i class="icon fa fa-users fa-2x"></i>
                     <h3 class="num-title">45</h3>
                     <span class="num-desc">Happy Client</span>
                 </div>
                 <div class="num-item">
                   <i class="icon fa fa-trophy fa-2x"></i>
                     <h3 class="num-title">45</h3>
                     <span class="num-desc">Happy Client</span>
                 </div>
                <div class="num-item">
                   <i class="icon fa fa-coffee fa-2x"></i>
                    <h3 class="num-title">45</h3>
                     <span class="num-desc">Happy Client</span>
                 </div> 
                <div class="num-item">
                   <i class="icon fa fa-file fa-2x"></i>
                    <h3 class="num-title">45</h3>
                     <span class="num-desc">Happy Client</span>
                 </div>
                <div class="clearfix"></div>
            </div>
       </div>
    </div>
 </div>