
<div class="home">
  <div class="container">
    <div class=" home_content" >
       <h1>We provide<br> <u class="underline">solutions</u><br>for your business.</h1>
        <button class="btn btn-start hoverOpacity">Get Started</button>
        <button class="btn btn-learn hoverOpacity">Our Services</button>
    </div>
  </div>
</div>

 <app-about></app-about> 
 <app-choose-me></app-choose-me>
 <app-portfolio></app-portfolio>
 <app-testimonials></app-testimonials>
 <app-team></app-team>
<app-clients></app-clients>
 